@use "sass:list";
@use "sass:map";

$font-sizes: (
	640px: (
		(h1, ".header"): 28px,
		(h2, ".sub-header"): 24px,
		(h3, ".title"): 22px,
		(h4, ".sub-title"): 18px,
		(p ".content"): 16px,
		(small, ".caption"): 12px,
	),
	768px: (
		(h1, ".header"): 32px,
		(h2, ".sub-header"): 28px,
		(h3, ".title"): 22px,
		(h4, ".sub-title"): 18px,
		(p ".content"): 16px,
		(small, ".caption"): 12px,
	),
	1024px: (
		(h1, ".header"): 36px,
		(h2, ".sub-header"): 28px,
		(h3, ".title"): 24px,
		(h4, ".sub-title"): 20px,
		(p ".content"): 18px,
		(small, ".caption"): 14px,
	),
	1280px: (
		(h1, ".header"): 40px,
		(h2, ".sub-header"): 36px,
		(h3, ".title"): 28px,
		(h4, ".sub-title"): 24px,
		(p ".content"): 18px,
		(small, ".caption"): 14px,
	),
	1536px: (
		(h1, ".header"): 40px,
		(h2, ".sub-header"): 36px,
		(h3, ".title"): 32px,
		(h4, ".sub-title"): 24px,
		(p ".content"): 20px,
		(small, ".caption"): 16px,
	),
	1848px: (
		(h1, ".header"): 44px,
		(h2, ".sub-header"): 40px,
		(h3, ".title"): 36px,
		(h4, ".sub-title"): 26px,
		(p ".content"): 20px,
		(small, ".caption"): 16px,
	),
);

h1,
.header {
	font-size: 24px !important;
	font-weight: 700 !important;
	line-height: 1.25 !important;
	margin: 0.75rem 0 !important;
}
h2,
.sub-header {
	font-size: 22px !important;
	font-weight: 600 !important;
	line-height: 1.25 !important;
	margin: 1rem 0 !important;
}
h3,
.title {
	font-size: 20px !important;
	line-height: 1.25 !important;
	font-weight: 500 !important;
	margin: 1rem 0 !important;
}
h4,
.sub-title {
	font-size: 18px !important;
	line-height: 1.25 !important;
	font-weight: 500 !important;
	margin: 1rem 0 !important;
}
p,
b,
.content {
	font-size: 14px !important;
}
small,
.caption {
	font-size: 12px !important;
}

@each $breakpoint, $font-size-map in $font-sizes {
	@media (min-width: $breakpoint) {
		@each $selector, $size in $font-size-map {
			#{$selector} {
				font-size: $size !important;
			}
		}
	}
}
