.auth_layout {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.form_container {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	width: 300px;
	border: 2px solid var(--disabled);
	border-radius: 1rem;
	padding: 2.25rem 1rem;
}
